<%- include("../partials/header") %>
<h1>
	Users Show Page!
	<p>
		<%= user.username %>
	</p>
</h1>
<p>
	<%= user.contacts %>
	<% user.contacts.forEach(function(contact) { %>
		<strong><%= contact.name %></strong>
	<% }); %>
</p>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/users/<%= user._id %>/new">Add New Contact</a>
				</div>
				<hr>
				<% user.contacts.forEach(function(contact) { %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= contact.name %></strong>
							<p>
								<%= contact.phonenumber %>
							</p>
							<p>
								<%= contact.email %>
							</p>
							<a class="btn btn-xs btn-warning" 
								href="/users/<%= user._id %>/<%= contact._id %>/edit">
								Edit
							</a>
							<form class="delete-form" action="/users/<%= user._id %>/<%= contact._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger">
									Delete
								</button>
							</form>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>